<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Blog Forum</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/posts']">All posts</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/users/', authService.decodedToken.nameid, 'posts']">My posts</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/users']">Users</a>
      </li>
    </ul>
    <div>
      <div class="search" *ngIf="loggedIn()">
        <form class="form-inline my-2 my-lg-0" (ngSubmit)="search(queryString)" #searchForm="ngForm">
            <input class="form-control mr-sm-2" type="text" placeholder="Search users" required name="search" [(ngModel)]="queryString">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"
              [disabled]="searchForm.invalid">Search</button>
          </form>
      </div>
        <div *ngIf="loggedIn()" class="dropdown mt-3" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>
              Welcome {{authService.decodedToken?.unique_name | titlecase}}
            </a>
      
            <div class="dropdown-menu mt-3" *dropdownMenu>
              <a class="dropdown-item" [routerLink]="['/users/', authService.decodedToken.nameid, 'newpost']">
                <i class="fa fa-plus"></i> Add post</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Log out</a>
            </div>
          </div>
    </div>
    

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" required name="username" [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" placeholder="Password" required name="password" [(ngModel)]="model.password">
      <button [disabled]="loginForm.invalid" class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>

</nav>