.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.navbar-brand {
    margin-left: -150px;    
}

.dropdown, .form-inline {
    margin-right: -150px;
}

.navbar {
    font-weight: bold;
}

.search {
    float: left;
    margin-left: -20rem;
}
